–Ø —É–∂–µ –∏ –∑–∞–±—ã–ª, –∫–∞–∫ –≤—ã–≥–ª—è–¥–∏—Ç –æ–±—ã—á–Ω–∞—è –ø–∏—Ç–æ–Ω—è—á—å—è IDE...

In [2]:
import pandas as pd

dataFrame = pd.read_csv("Suicide_Detection.csv")

In [3]:
dataFrame

,Unnamed: 0,text,class
0,2,Ex Wife Threatening SuicideRecently I left my ...,suicide
1,3,Am I weird I don't get affected by compliments...,non-suicide
2,4,Finally 2020 is almost over... So I can never ...,non-suicide
3,8,i need helpjust help me im crying so hard,suicide
4,9,"I‚Äôm so lostHello, my name is Adam (16) and I‚Äôv...",suicide
...,...,...,...
232069,348103,If you don't like rock then your not going to ...,non-suicide
232070,348106,You how you can tell i have so many friends an...,non-suicide
232071,348107,pee probably tastes like salty teaüòèüí¶‚ÄºÔ∏è can som...,non-suicide
232072,348108,The usual stuff you find hereI'm not posting t...,suicide
232073,348110,I still haven't beaten the first boss in Hollo...,non-suicide

In [43]:
df = dataFrame.replace(r'(\n+)', ' ', regex=True)[['text', 'class']]
df = df.replace(r'(\s+)', ' ', regex=True) # spaces
df['class'] = df['class'].replace('suicide', 1)
df['class'] = df['class'].replace('non-suicide', 0)

In [44]:
df

                                                     text  class
0       Ex Wife Threatening SuicideRecently I left my ...      1
1       Am I weird I don't get affected by compliments...      0
2       Finally 2020 is almost over... So I can never ...      0
3               i need helpjust help me im crying so hard      1
4       I‚Äôm so lostHello, my name is Adam (16) and I‚Äôv...      1
...                                                   ...    ...
232069  If you don't like rock then your not going to ...      0
232070  You how you can tell i have so many friends an...      0
232071  pee probably tastes like salty teaüòèüí¶‚ÄºÔ∏è can som...      0
232072  The usual stuff you find hereI'm not posting t...      1
232073  I still haven't beaten the first boss in Hollo...      0

[232074 rows x 2 columns]

In [45]:
df.iloc[0:1000].to_csv("./to_translate.csv")

In [15]:
dataFrame[['text', 'class']].iloc[0:100].to_csv("./sd100.csv", index=True, sep=",")

In [21]:
suicidalMessages = dataFrame.loc[dataFrame['class'] == 'suicide']
normalMessages = dataFrame.loc[dataFrame['class'] == 'non-suicide']

In [33]:
print("number of suicidal messages: {}".format(suicidalMessages.shape[0]))
print("number of normal messages: {}".format(normalMessages.shape[0]))

number of suicidal messages: 116037
number of normal messages: 116037

In [39]:
import numpy as np

np.savetxt('./shit.txt', dataFrame['text'], fmt='%s')

In [42]:
np.savetxt('./shit.txt', dataFrame['text'].iloc[0:100], fmt='%s<---!--->')